
/* Overwrite modal slide in */
.modal.fade{
    -webkit-transition: opacity .4s linear, none;
    -moz-transition: opacity .4s linear, none;
    -ms-transition: opacity .4s linear, none;
    -o-transition: opacity .4s linear, none;
    transition: opacity .4s linear, none;
    top: 50%;
}

#myModal {
    background-color:#fff;
}

/*//////////////////////////////*/
#contact-form {
    background-color:#F2F7F9;
    width:465px;
    padding:20px;
    margin: 50px auto;  
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}

#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
#contact-form .required {
    font-weight:bold;
    color:#F00; 
}

#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}

#errors {
    border:solid 1px #E58E8E;
    padding:5px 10px;
    margin:0px 0px 20px 0px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../../img/cancel_48.png) no-repeat right center;
    display:none;
}

#errors li {
    padding:0px;
    list-style:none;    
}

#errors li:before {
    /*content: ' - '; */
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';    
}

#success {
    border:solid 1px #83D186;
    padding:5px 10px;
    margin:0px 0px 20px 0px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../../img/accepted_48.png) no-repeat right center;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;  
}

#req-field-desc {
    font-style:italic;
    display:inline;   
}
#submit-button {
    display:inline;   
    margin-right:14px;
}

#loading {
    width:32px;
    height:32px;
    background-image:url(../../img/loading.gif);
    display:block;
    position:absolute;
    display:none;
}

.modal-header {
    padding-bottom:0px;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}